@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anders Børjesson</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>

<body>
@*        Main Content
*@    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="display-4">Anders Børjesson (anbo)</h1>
            <p class="lead">Cand.scient. i matematik og datalogi</p>
            <hr class="my-4">
            <p>Lektor på Datamatikeruddannelsen</p>
            <p>Zealand, Sjællands Erhvervsakademi, Roskilde</p>
        </div>
@*        Contact & Links 
*@        <div class="row">
            <div class="col-md-6">
                <h4>Contact Information</h4>
                <div class="table-container">
                    <div class="table-responsive-custom">
                        <table class="table table-custom">
                            <tbody>
                                <tr>
                                    <td><strong>Address (work):</strong></td>
                                    <td>Maglegårdsvej 2, 4000 Roskilde</td>
                                </tr>
                                <tr>
                                    <td><strong>Email:</strong></td>
                                    <td>anbo@zealand.dk</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
@*        Teaching Information
*@        <table style="font-size:80%; width:100%" >
  <tr>
    <td style="vertical-align:baseline">
        <p> 
            <strong>Teaching autumn 2019</strong><br>
            <a href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem</a> Datamatiker <br />
            <a href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development</a>, 4th semester Comp Science<br>
            <a href="internship/index.html">Internship</a>, 5th semester, Comp Science<br>
            <a href="https://anbo-easj.dk/dissertation2020spring/">Dissertation course</a> <br />
            Dissertations, Computer Science<br>
            
        </p>
    </td>
    <td style="vertical-align:baseline">
        <p>
            <strong>Teaching spring 2019</strong><br>
            <a href="https://anbo-easj.dk/mobile2019spring/index.html"> Mobile Application Development</a>, 4th semester Comp Science<br>
                        <a href="https://anbo-easj.dk/internship/index.html">Internship</a>, 5th semester, Comp Science<br>
                        <a href="https://anbo-easj.dk/dissertation2019spring/">Dissertation course</a> <br />
            Dissertations, Computer Science
        </p>
    </td>
    <td style="vertical-align:baseline">
        <p>
            <b>Teaching autumn 2018</b><br />
                        <a href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programming, 3rd semester, Comp Science</a><br />
                        <a href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile Application Development</a>, 4th semester Comp Science<br>
            <a href="https://anbo-easj.dk/internship/index.htmll">Internship</a>, 5th semester, Comp Science<br>
                        <a href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course</a> <br />
            Dissertations, Computer Science<br />
                        <a href="https://anbo-easj.dk/undervisning/">Previous semesters</a>
        </p>
    </td>
  </tr>
</table>



                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

